<div class="backlinks" id="backlinks">
<details>
  <summary class="backlinks-head" >Backlinks</summary>
  <ul>
      {% assign current_url = page.url %}
    {% assign backlinks_found = false %}

    {% for other_page in site.pages %}
      {% if other_page.content contains current_url and other_page.url != current_url %}
        {% assign backlinks_found = true %}
        <li>
       <a href="{{ site.baseurl }}{{ other_page.url }}">{{ other_page.title }}</a>
        </li>
      {% endif %}
    {% endfor %}

    {% if backlinks_found == false %}
      <li>No backlink yet</li>
    {% endif %}
  </ul>
</details>

</div>
<style>.backlinks {margin-top: 20px;} .backlinks-head{font-size: 16px; font-weight: bold; cursor: pointer; padding: 5px; outline: none} .backlinks ul{margin-top: 10px; padding-left: 20px} .backlinks ul li{margin: 5px 0}</style>
